body {
  /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color:#1F2039;
  color: #F9F8FF;
}

.div{
  background-color: blanc;
}
a {
  color:#242424;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.1em;
}

.liensdegrad{
background: linear-gradient(90deg #8E86B5,#ACAEED);
color: blanc;
font-family:'Montserrat'sans-serif;
}
