body { 
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}

a {
    color: #242424;
    text-decoration: none;
}

.highlight {
    color: #A5B4FC;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color:#F9F8FF;
}

p, li {
    font-size: 1.1em;
    color:#F9F8FF;
}

.entete, .pied-de-page {
    background-color: white;
}

.cta {
    background: linear-gradient(#8E86B5, #ACAEED);
    color: white;
    border-radius: 50px;
}

.carre-contenu {
    border-right: 1px solid #8E86B5;
    border-bottom: 1px solid #8E86B5;
}