.accueil-photos {
  background-color: white;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-items: flex-start;
  margin: auto;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}

.section-contact h2 {
  color: #a5b4fc;
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  color: white;
}

.form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
}

label {
  margin-bottom: 10px;
}

input[type='submit'] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 996px) {
  .accueil-introduction {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .accueil-introduction div {
    padding-right: 0;
    text-align: center;
    order: 2;
  }

  .accueil-introduction img {
    order: 1;
    margin-bottom: 20px;
    width: 100%;
  }

  .accueil-photos {
    padding: 20px;
  }

  .accueil-photos div {
    flex-direction: column;
  }

  .section-contact {
    padding: 50px 20px;
  }

  .form-nom-email {
    flex-direction: column;
    gap: 0;
  }
}
